<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-weight: 600; color:rgb(109, 231, 135)">Completed Task</ion-title>
    <ion-icon 
      name="close-circle-outline" 
      slot="end"
      size="large"
      class="ion-padding"
      color="success"
      (click)="dismiss()"
      >
    </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list *ngFor="let task of completedTasks">
      <ion-item>
        <ion-icon name="checkmark-circle-outline" size="large" color="success" class="ion-padding-start"></ion-icon>
        <ion-text class="taskFont" style="color:rgb(109, 231, 135)">{{task?.itemName}}</ion-text>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>