<!-- //new task header -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-weight: 600; color:rgb(109, 231, 135)">New Task</ion-title>
    <ion-icon 
      name="close-circle-outline" 
      slot="end"
      size="large"
      class="ion-padding"
      color="success"
      (click)="dismiss()">
    </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <!-- //enter text -->
    <ion-item>
      <ion-textarea [(ngModel)]="taskName" placeholder="Write new task here"></ion-textarea>
    </ion-item>

    <!-- //calendar -->
    <ion-item>
      <ion-icon name="calendar-outline" slot="start" style="color:rgb(109, 231, 135)"></ion-icon>
        <ion-label>Due Date</ion-label>
          <ion-datetime color="success" 
                        [(ngModel)]="taskDate" 
                        presentation="date-time" 
                        [preferWheel]="true" 
                        style="color:rgb(255, 255, 255)">
          </ion-datetime>
    </ion-item>

    <!-- //categories -->
    <ion-item>
      <ion-icon name="nuclear-outline" 
                slot="start" 
                style="color:rgb(109, 231, 135)">
        </ion-icon>
      <ion-label>Category</ion-label>
      <span>{{taskCategory}}</span>
    </ion-item>

    <ion-item>
      <ion-chip *ngFor="let category of categories; let i = index" (click)="selectedCategory(i)">
        <ion-label>{{category}}</ion-label>
      </ion-chip>
    </ion-item>

    <!-- //add task button -->
    <ion-button color="success" 
                class="ion-margin" 
                expand="block" 
                (click)="addTask()">
      Add Task
    </ion-button>


  </ion-card>
 
</ion-content>
