
 <ion-card color="success">
    <ion-card-header>
      <ion-card-title style="font-weight: 800; font-size: 3em; color:rgb(28, 78, 39)">TO-DO</ion-card-title>
        <ion-label style="font-weight: 600; color:rgb(28, 78, 39)">{{currentDate | date: 'dd/MM/yyyy'}}</ion-label>
    </ion-card-header>
  </ion-card>

  <ion-content>

    <ion-card *ngFor="let item of todoList; let i = index" class="ion-margin">
      <ion-card-header>
        <ion-chip>
        <ion-card-subtitle *ngIf="item.itemCategory === 'Personal'" color="primary">
          {{item.itemCategory}}
        </ion-card-subtitle>
        <ion-card-subtitle *ngIf="item.itemCategory === 'Work'" color="secondary">
          {{item.itemCategory}}
        </ion-card-subtitle>
      </ion-chip>

        <ion-item>
          <ion-icon *ngIf="item.itemCategory === 'Personal'" color="primary" size="small" name="heart-circle-outline"></ion-icon>
          <ion-icon *ngIf="item.itemCategory === 'Work'" color="secondary" size="small" name="heart-circle-outline"></ion-icon>
          <ion-label>{{item.itemName}}</ion-label>
        </ion-item>
      </ion-card-header>

      <ion-card-content>
        <ion-label>Due {{item.itemDueDate| date: 'fullDate' }}</ion-label>
      </ion-card-content>

      <ion-row>

        <ion-item>
          <ion-icon name="checkmark-outline"></ion-icon>
          <ion-button fill="clear" style="color:rgb(109, 231, 135)" (click)="complete(i)">Complete</ion-button>
        </ion-item>

        <ion-item>
          <ion-icon name="trash-outline"></ion-icon>
          <ion-button fill="clear" style="color:rgb(109, 231, 135)" (click)="remove(i)">Remove</ion-button>
        </ion-item>

      </ion-row>

    </ion-card>
  </ion-content>



  <ion-fab vertical="bottom" horizontal="end"> 
    <ion-fab-button color="success" (click)="addTask()"> 
      <ion-icon name="add" style="color:rgb(28, 78, 39)"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-button fill="clear" type="button" color="success" (click)="openComplete()">Completed</ion-button>

